.leftBar {
  flex: 2.5;
  position: sticky;
  height: calc(100vh - 70px);
  overflow: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  .leftBar_container {
    padding: 20px;

    hr {
      margin: 20px 0;
      border: none;
      width: 30px;
      height: 0.5px;
      width: 10%;
      background-color: lightgrey;
    }
    .menu {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-direction: column;

      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          font-size: 14px;
        }
      }
      .item {
        display: flex;
        align-items: center;
        gap: 6px;

        img {
          width: 30px;
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
}
